Router baked (does async/plan interference correct)
{{link-to 'open'   'index' (query-params status="open")}}
{{link-to 'closed' 'index' (query-params status="closed")}}

<ul>
  {{#each model as |pull|}}
    <li>{{pull.number}} - {{pull.status}}</li>
{{/each}}
</ul>

<hr>
Our custom (does NOT do async/plan interference correct)

close is instance, open takes 1 second. If we click on close -> open -> close, we will see

close -> open (but we should see close -> open -> close)

{{sorting-component}}

<hr>
Our custom (DOESdo async/plan interference correct)

close is instance, open takes 1 second. If we click on close -> open -> close, we will see: close

{{sorting-component-fixed}}
